# Static image outputs from GAN
images
GAN/sample_images

# Gan model
model

# Python cache file
__pycache__
.pytest_cache

# Virtual environment directory
venv

# Mac OS files
.DS_Store

# Static temporary files
static/tmp
