<div class="row justify-content-center">
    <h1 class="h4">
        Breast Ultrasound Lesion Detection and Diagnosis
    </h1>
</div>
<br />
<div class="row align-items-center ">
    <div class="col">
    <form action="/" method="post" enctype=multipart/form-data>
        <div class="form-group">
            <label for="BUS_image">Upload Breast Ultrasound Image</label>
            <input type="file" name='file' class="form-control-file" id="BUS_image">
            <button type="submit" name="file_upload" value=1 class="mt-3 btn btn-sm btn-success mb-2">Upload Image</button>
        </div>
    </form>
    </div>
    <div class="col-1">
        <p class="h5">OR</p>
    </div>
    <div class="col text-center">
        <form action="/" method="post">
            <button type="submit" name="use_demo" value=1 class="mt-3 btn btn-sm btn-secondary mb-2">Use Demo Image</button>
        </form>
    </div>
</div>
<br/>
<div class="row">
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Image ID</th>
                <td>{{ image_name | default("No Image Selected", True)}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row justify-content-center">
    <form action="/ai" method="post" class="text-center">
        {% if show_ai %}
        <button type="submit" name='show_ai' value=0 class="btn btn-md btn-outline-info mb-2">Hide Results</button>
        {% else %}
        <button type="submit" name='show_ai' value=1 class="btn btn-md btn-info mb-2">Segment and Diagnose</button>
        {% endif %}
        <div class="form-check">
        <!--  TODO: Future input to allow optional segmentation immediately
        <input type="checkbox" class="form-check-input" name="show_first" id="show_first">
        <label for="show_first" class="form-check-label">Always Show AI Diagnosis on Load</label>
        -->
        </div>
    </form>
</div>

{% if ai_results and ai_results is not none and show_ai %}
<br />
<br />
<div class="row justify-content-center">
    <div class="col col-sm-8">

    <h2 class="h5 text-center">Segmentation and Diagnosis Results</h3>
    <table class="table stable-sm table-bordered">
        <tbody>
            <tr>
                <th scope="row">Diagnosis</th>
                {% if ai_results == -1 %}
                    <td>Normal Tissue<td>
                {% endif %}
                {% if ai_results > 0 %}
                    <td>Lesion Detected<td>
                {% endif %}
            </tr>
            {% if ai_results > 0 %}
            <tr>
                <th scope="row">Malignancy Risk</th>
                <td>{{ 100*ai_results }}%<td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    </div>
</div>
{% endif %}
